<topbar>
</topbar>
<div id="dashvids" ng-if="user">
    <form ng-submit="changeTitle(typedTitle)">
        <h1 id="headTitle">Title:
            <input type="text" ng-model="typedTitle" id="typedTitle">
        </h1>
    </form>
    <player></player>
    <h2 id="headDescr">Change Description</h2>
    <form id="changeDescr">
        <textarea rows="10" cols="50" ng-model="typedDescr" id="typedDescr"></textarea><br>
        <button type="submit" id="subDescr" ng-click="changeDescr(typedDescr)">Submit</button>
    </form>

    <h2 id="headThumbnail">Upload Thumbnail</h2>
    <div id="subThumb">
        <div id="thumbnailDiv">
            <img id="thumbnail" ng-src={{curVideo.thumbnail}}>
        </div>
        <form id="thumbnailsub" method="post" enctype="multipart/form-data" action="{{'/file-upload/' + vidid}}">
            <input type="file" name="thumbnail">
            <input type="submit">
        </form>
    </div>

    <button type="button" id="deleteVideo" ng-click="deleteVideo()">
        DELETE VIDEO
    </button>
</div>