<div id="home">
    <topbar>
    </topbar>
    <!-- <h1>Home</h1> -->
    <!-- <player></player> -->
    <h2 id="newestHead">What's New</h2>
    <ul id="newest">
        <li class="videos" ng-repeat="vid in newestVids">
            <a href="/#!/video/{{vid.vidid}}">
                <img ng-src={{vid.thumbnail}} id="thumbnail">
                <br/> {{vid.title}}
            </a>
        </li>
    </ul>
    <!-- <form action="/" enctype="multipart/form-data" method="post">
        <input type="file" name="upload" multiple>
        <input type="submit" value="Upload">
    </form> -->
</div>