<div id="topbar">
    <div id=hamburger class="fa fa-bars" ui-sref="home"></div>
    <a ui-sref="home"><img id="logo" ng-src="../img/newtube.png"></a>
    <div id="searchbar">
        <input id="search" type="text" ng-model="searchQuery" placeholder="Search">
        <a href="/#!/search?searchQuery={{searchQuery}}"><button type="submit" id="searchBut" class="fa fa-search"></button></a>
    </div>

    <div id="signin">
        <a href="/#!/dashboard" id="user" ng-if="user"><img ng-src="{{user.userpic}}"></a>
        <a id="login" class="logBut" href="/auth "><button type="button " ng-if="!user">Login</button></a>
        <a id="logout" class="logBut" href="/auth/logout "><button type="button" ng-if="user">Logout</button></a>
        <a href="/#!/dashboard/upload"><button type="button" id="upload" ng-if="user">Upload Video</button></a>
    </div>

</div>